###
### This is an example file to show the filter file syntax
### and give a quick overview of what's possible. Do not expect
### all examples to be useful.
###
### See man 5 filterfile (man -s 5 filterfile on some systems)
### for details.
###

### the next lines will kill descrambler spam in all groups
### d-e-s-c-r-a-m-b-l-e-r or d.e.s.c.r.a.m.b.l.e.r are detected
newsgroups = .*
pattern = ^Subject:.*D.*E.S.C.R.A.M.B.L.E.R
action = kill

### this inherits the last newsgroups line and also kills cable box
### descrambler spam
pattern = ^Subject:.*CABLE.*BOX.*DESCRAMBLER
action = kill

### do not accept articles older than 20 days
maxage = 20
action = kill

### do not fetch articles beyond 100,000 bytes
maxbytes = 100000
action = kill

### do not fetch articles posted to more than five groups
### Note: this will in many cases only work after the article
### has been downloaded, so it's not too efficient for your
### bandwidth, but it keeps your newsgroups tidy unless your
### newsreader tracks crossposts -- not many do :-(
maxcrosspost = 5
action = kill

### this limits traffic for a high-traffic group
newsgroups = de\.rec\.fotografie
maxage = 7
action = kill

### this pattern ignores "weather" posts in all but one group
newsgroups = !your\.newsgroup
pattern = ^Subject:.*weather
action = kill

### As the previous pattern is not generally useful, here's one
### that only applies to the Subject: header:
### This ignores all postings about bad weather:
newsgroups = .*
pattern = ^Subject:(?=.*bad weather)
action = kill

### this gets you rid of German Outlook national oddities
### and pre-threading Re^N style subjects
###
### Be very careful when using the | operator, either of the sides will
### match, so "^Subject: Jens|Jan" will kill all articles posted in
### January because it means "^Subject: Jens" or "Jan".
### Use "^Subject: (Jens|Jan)" instead (don't type the quote marks!)
newsgroups = .*
pattern = ^Subject: (AW|WG|Re^\d+):
action = kill

### Do not fetch articles that Gmane considered spam (only effective in
### groups of the gmane hierarchy). Note that filtering on "Xref"
### already filters at XOVER level, see section EFFICIENCY in
### filterfile(5).
newsgroups = gmane\..*
pattern = ^Xref:.* gmane\.spam\.detected:
action = kill

### Filter on some subject, except if the posting is a followup to your
### message. This requires that all your postings use a FQDN for the
### Message-Id, see "hostname" in leafnode(8).
newsgroups = .*
pattern = ^Subject: some_subject
action = -1
### Always accept own postings and direct followups:
pattern = ^Message-Id:\s*<[^@]+@my-fqdn\.invalid>
action = select
### A direct followup:
pattern = ^References:.*<[^@]+@my-fqdn\.invalid>$
action = select
### 2nd level followup:
pattern = ^References:.*<[^@]+@my-fqdn\.invalid>[^>]+>$
action = 100
### 3rd level followup:
pattern = ^References:.*<[^@]+@my-fqdn\.invalid>[^>]+>[^>]+>$
action = 10
### Followup on any level.
pattern = ^References:.*<[^@]+@my-fqdn\.invalid>
action = 2

### A troll is flooding a group `foo.bar'. Annoyingly he changes "From"
### and "Message-Id" (MID) quite often, but the MID is always consists
### of 16 times a hex number [0-9A-F], a dot followed by 16 times
### [0-9A-F] again (local part) and 8 times [a-z], a dot and 8 times
### [a-z] for the domain part. Thus we have
### "[A-F0-9]{16}\.[A-F0-9]{16}@[a-z]{8}\.[a-z]{8}"; replace this by a
### more simple pattern if needed.
newsgroups = foo\.bar
pattern = ^Message-Id:\s*<[A-F0-9]{16}\.[A-F0-9]{16}@[a-z]{8}\.[a-z]{8}>
action = kill
### Now we got rid of the troll.  But too many people do feed the troll!
### We need to filter certain levels of followups, too.
### A direct followup:
pattern = ^References:.*<[A-F0-9]{16}\.[A-F0-9]{16}@[a-z]{8}\.[a-z]{8}>$
action = -1000
### 2nd level followup:
pattern = ^References:.*<[A-F0-9]{16}\.[A-F0-9]{16}@[a-z]{8}\.[a-z]{8}>[^>]+>$
action = -100
### 3rd level followup:
pattern = ^References:.*<[A-F0-9]{16}\.[A-F0-9]{16}@[a-z]{8}\.[a-z]{8}>[^>]+>[^>]+>$
action = -10
### Followup on any level. Use with care! (Thread topic might change and
### become interesting again.)
pattern = ^References:.*<[A-F0-9]{16}\.[A-F0-9]{16}@[a-z]{8}\.[a-z]{8}>
action = -1
